name: Tests
on: [push, pull_request]

jobs:
  tool_test_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
    - name: Checkout Flutter repo
        uses: actions/checkout@v2
        with:
          repository: flutter/flutter
          fetch-depth: 0
          path: flutter
      - name: Dependencies
        run: flutter/bin/dart/pub get
      - name: Analyze
        run: dartanalyzer .
      - name: Format
        run: flutter/bin/dart format --set-exit-if-changed -w .
      - name: precache
        run: flutter/bin/flutter precache --no-android --no-ios
      - name: test
        run: dart bin/tester.dart --platform=dart --flutter-root=flutter -v
