name: Tests
on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:

jobs:
  tool_test_linux:
    runs-on: ubuntu-latest
    container:
      image:  google/dart:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Dependencies
        run: pub get
      - name: Analyze
        run: dartanalyzer .
      - name: Format
        run: dartfmt --set-exit-if-changed
      - name: test
        run: dart bin/main.dart --platform=dart -v
