name: Tests
on: [pull_request]

jobs:
  tool_test_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: tester
      - name: Checkout Flutter repo
        uses: actions/checkout@v2
        with:
          repository: flutter/flutter
          fetch-depth: 0
          path: flutter
      - name: Dependencies
        run: ../../flutter/bin/dart pub get
        working-directory: tester/tester
      - name: Analyze
        run: ../../flutter/bin/dart analyze .
        working-directory: tester/tester
      - name: Format
        run: ../../flutter/bin/dart format --set-exit-if-changed .
        working-directory: tester/tester
      - name: precache
        run: ../../flutter/bin/flutter precache --no-android --no-ios
        working-directory: tester/tester
      - name: test_tester
        run: bin/tester --platform=dart --ci -v
        working-directory: tester/tester
        env:
          FLUTTER_ROOT: ../../flutter
          TESTER_SNAPSHOT_OVERRIDE: kernel
      - name: test_expect
        run: ../tester/bin/tester --platform=dart --ci -v
        working-directory: tester/expect
        env:
          FLUTTER_ROOT: ../../flutter
          TESTER_SNAPSHOT_OVERRIDE: kernel
