name: Tests
on: [pull_request]

jobs:
  tool_test_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: tester
      - name: Checkout Flutter repo
        uses: actions/checkout@v2
        with:
          repository: flutter/flutter
          fetch-depth: 0
          path: flutter
      - name: Dependencies
        run: ../flutter/bin/dart pub get
        working-directory: tester
      - name: Analyze
        run: ../flutter/bin/dart analyze .
        working-directory: tester
      - name: Format
        run: ../flutter/bin/dart format --set-exit-if-changed .
        working-directory: tester
      - name: precache
        run: ../flutter/bin/flutter precache --no-android --no-ios
        working-directory: tester
      - name: test
        run: ../flutter/bin/dart bin/tester.dart --platform=dart --flutter-root=../ -v
        working-directory: tester
